<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Alice</title>
  <style>
    .column {
    float: left;
    width: 50%;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
  </style>
</head>
<body>
    <h1>Alice</h1>
    <div class="row">
      <h2>Create Public DID</h2>
      <div class="column">
          <!-- <form id="api2-form"> -->
            <!-- <label for="api2-input">Input:</label> -->
            <!-- <textarea id="api2-input" name="api2-input" rows="10" cols="50"></textarea> -->
            <br>
            <button type="button" onclick="executeApi2()">Execute</button>
          <!-- </form> -->
      </div>
      <div class="column">
          <textarea id="api2-output" name="api2-output" rows="10" cols="50" readonly></textarea>
          <h2>Output:</h2>
      </div>
    </div>
  <div class="row">
    <h2>Send Cred Request</h2>
    <div class="column">
    <form id="api3-form">
      <label for="api3-input">Agent DID:</label>
      <textarea id="api3-input" name="api3-input" ></textarea>
      <br>
      <button type="button" onclick="executeApi3()">Execute</button>
    </form>
</div>
<div class="column">
    <textarea id="api3-output" name="api3-output" rows="10" cols="50" readonly></textarea>
    <h2>Output:</h2>
</div>
</div>
<div class="row">
  <h2>Credentials Wallet</h2>
  <div class="column">
  <!-- <form id="api5-form"> -->
    <!-- <label for="api5-input">Input:</label> -->
    <!-- <textarea id="/api5-input" name="api5-input" rows="10" cols="50"></textarea> -->
    <br>
    <button type="button" onclick="executeApi5()">Execute</button>
  <!-- </form> -->
</div>
<div class="column">
  <textarea id="api5-output" name="api5-output" rows="10" cols="50" readonly></textarea>
  <h2>Output:</h2>
</div>
</div>
<div class="row">
    <h2>Send Presentation</h2>
    <div class="column">
    <!-- <form id="api4-form"> -->
      <!-- <label for="api4-input">Input:</label> -->
      <!-- <textarea id="api4-input" name="api4-input" rows="10" cols="50"></textarea> -->
      <br>
      <button type="button" onclick="executeApi4()">Execute</button>
    <!-- </form> -->
</div>
<div class="column">
    <textarea id="api4-output" name="api4-output" rows="10" cols="50" readonly></textarea>
    <h2>Output:</h2>
</div>
</div>
  <script>
    function executeApi1() {
        const input = document.getElementById("api1-input").value;
        // make API 1 call with input
        fetch("http://127.0.0.1:8080/make_Connection", {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: input
        })
        .then(response => response.text())
        .then(data => {
        // Display the response in the api1-output textarea
        document.getElementById("api1-output").value = data;
        })
        .catch(error => console.error(error));
        // handle response and display it in api1-output textarea
        // document.getElementById("api1-output").value = "API 1 response";
    }

    function executeApi2() {
      // const input = document.getElementById("api2-input").value;
      // make API 2 call with input
      const input = '{"agent1_admin_port":9001, "steward_admin_port":8001}';
      fetch("http://127.0.0.1:8080/create_public_did", {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: input
        })
        .then(response => response.text())
        .then(data => {
        // Display the response in the api1-output textarea
        document.getElementById("api2-output").value = data;
        })
        .catch(error => console.error(error));
      // handle response and display it in api2-output textarea
    //   document.getElementById("api2-output").value = "API 2 response";
    }

    function executeApi3() {
      const input = document.getElementById("api3-input").value;
      // make API 2 call with input
      fetch("http://127.0.0.1:8080/send_cred_req", {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: input
        })
        .then(response => response.text())
        .then(data => {
        // Display the response in the api1-output textarea
        document.getElementById("api3-output").value = data;
        })
        .catch(error => console.error(error));
      // handle response and display it in api2-output textarea
    //   document.getElementById("api2-output").value = "API 2 response";
    }

    function executeApi4() {
      // const input = document.getElementById("api4-input").value;
      // make API 2 call with input
      const input = 'dummy';
      fetch("http://127.0.0.1:8080/send_presentation", {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: input
        })
        .then(response => response.text())
        .then(data => {
        // Display the response in the api1-output textarea
        document.getElementById("api4-output").value = data;
        })
        .catch(error => console.error(error));
      // handle response and display it in api2-output textarea
    //   document.getElementById("api2-output").value = "API 2 response";
    }

    function executeApi5() {
      // const input = document.getElementById("api5-input").value;
      const input = '{"agent_admin_port":9001}';
      // make API 2 call with input
      fetch("http://127.0.0.1:8080/see_credentials", {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: input
        })
        .then(response => response.text())
        .then(data => {
        // Display the response in the api1-output textarea
        document.getElementById("api5-output").value = data;
        })
        .catch(error => console.error(error));
      // handle response and display it in api2-output textarea
    //   document.getElementById("api2-output").value = "API 2 response";
    }
  </script>
</body>
</html>
